elasticsearch==7.15.1
elasticsearch-dsl==7.2.0
gcsfs==2023.12.2.post1
google==3.0.0
google-cloud==0.34.0
jaconv==0.3.4
joblib==1.3.2
mtls==0.17.0
pytest==7.4.4
retrying==1.3.4

# https://airflow.apache.org/docs/apache-airflow/2.6.3/extra-packages-ref.html

#Core Airflow extras
# apache-airflow[aiobotocore]==2.6.3
# apache-airflow[async]==2.6.3
# apache-airflow[celery]==2.6.3
# apache-airflow[cgroups]==2.6.3
# apache-airflow[cncf.kubernetes]==2.6.3
# apache-airflow[dask]==2.6.3
# apache-airflow[deprecated_api]==2.6.3
# apache-airflow[github_enterprise]==2.6.3
# apache-airflow[google_auth]==2.6.3
# apache-airflow[kerberos]==2.6.3
# apache-airflow[ldap]==2.6.3
# apache-airflow[leveldb]==2.6.3
# apache-airflow[otel]==2.6.3
# apache-airflow[pandas]==2.6.3
# apache-airflow[password]==2.6.3
# apache-airflow[rabbitmq]==2.6.3
# apache-airflow[sentry]==2.6.3
# apache-airflow[statsd]==2.6.3
# apache-airflow[virtualenv]==2.6.3

# Apache Software extras
# apache-airflow[apache.atlas]==2.6.3
# apache-airflow[apache.beam]==2.6.3
# apache-airflow[apache.cassandra]==2.6.3
# apache-airflow[apache.drill]==2.6.3
# apache-airflow[apache.druid]==2.6.3
# apache-airflow[apache.flink]==2.6.3
# apache-airflow[apache.hdfs]==2.6.3
# apache-airflow[apache.hive]==6.4.1
# apache-airflow[apache.impala]==2.6.3
# apache-airflow[apache.kylin]==2.6.3
# apache-airflow[apache.livy]==2.6.3
# apache-airflow[apache.pig]==2.6.3
# apache-airflow[apache.pinot]==2.6.3
# apache-airflow[apache.spark]==4.7.0
# apache-airflow[apache.sqoop]==2.6.3
# apache-airflow[apache.webhdfs]==2.6.3

# External Services extras
# apache-airflow[airbyte]==2.6.3
# apache-airflow[alibaba]==2.6.3
# apache-airflow[amazon]==2.6.3
# apache-airflow[asana]==2.6.3
# apache-airflow[atlassian.jira]==2.6.3
# apache-airflow[microsoft.azure]==2.6.3
# apache-airflow[cloudant]==2.6.3
# apache-airflow[databricks]==2.6.3
# apache-airflow[datadog]==2.6.3
# apache-airflow[dbt.cloud]==2.6.3
# apache-airflow[dingding]==2.6.3
# apache-airflow[discord]==2.6.3
# apache-airflow[facebook]==2.6.3
# apache-airflow[google]==2.6.3
# apache-airflow[hashicorp]==2.6.3
# apache-airflow[opsgenie]==2.6.3
# apache-airflow[pagerduty]==2.6.3
# apache-airflow[plexus]==2.6.3
# apache-airflow[qubole]==2.6.3
# apache-airflow[salesforce]==2.6.3
# apache-airflow[sendgrid]==2.6.3
# apache-airflow[segment]==2.6.3
# apache-airflow[slack]==2.6.3
# apache-airflow[snowflake]==2.6.3
# apache-airflow[tableau]==2.6.3
# apache-airflow[tabular]==2.6.3
# apache-airflow[telegram]==2.6.3
# apache-airflow[vertica]==2.6.3
# apache-airflow[zendesk]==2.6.3

# Locally installed software extras
# apache-airflow[arangodb]==2.6.3
# apache-airflow[docker]==2.6.3
# apache-airflow[elasticsearch]==2.6.3
# apache-airflow[exasol]==2.6.3
# apache-airflow[github]==2.6.3
# apache-airflow[influxdb]==2.6.3
# apache-airflow[jenkins]==2.6.3
# apache-airflow[mongo]==2.6.3
# apache-airflow[microsoft.mssql]==2.6.3
# apache-airflow[mysql]==2.6.3
# apache-airflow[neo4j]==2.6.3
# apache-airflow[odbc]==2.6.3
# apache-airflow[openfaas]==2.6.3
# apache-airflow[oracle]==2.6.3
# apache-airflow[postgres]==2.6.3
# apache-airflow[presto]==2.6.3
# apache-airflow[redis]==2.6.3
# apache-airflow[samba]==2.6.3
# apache-airflow[singularity]==2.6.3
# apache-airflow[trino]==2.6.3

# Other extras
# apache-airflow[common.sql]==2.6.3
# apache-airflow[ftp]==2.6.3
# apache-airflow[grpc]==2.6.3
# apache-airflow[http]==2.6.3
# apache-airflow[imap]==2.6.3
# apache-airflow[jdbc]==2.6.3
# apache-airflow[microsoft.psrp]==2.6.3
# apache-airflow[microsoft.winrm]==2.6.3
# apache-airflow[papermill]==2.6.3
# apache-airflow[sftp]==2.6.3
# apache-airflow[smtp]==2.6.3
# apache-airflow[sqlite]==2.6.3
# apache-airflow[ssh]==2.6.3

# Doc extras
# apache-airflow[doc]==2.6.3
# apache-airflow[doc_gen]==2.6.3

